<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/weather.png"
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
    {{>header}} 
    
    </div>
    {{>footer}}
</body>

</html>