<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/weather.png"
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}  
        <img src="/images/MyImage.png" class="portrait">
    </div>
    {{>footer}}
</body>

</html>